extends layout.pug
 
block page-titles
  .row.page-titles
    .col-md-5.col-8.align-self-center
      h3.text-themecolor.m-b-0.m-t-0 ProAV
      ol.breadcrumb
        li.breadcrumb-item
          a(href='javascript:void(0)') ProAV
        li.breadcrumb-item.active Statistics

block content
  .row
    .col-12
      .card
        .card-body
          | Stream management


